@import "reset.css";

@import "isotope.css";

@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600";
body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
#content {
  -webkit-transition: 0.25s opacity;
  background-color: #514d3e;
  background: -webkit-radial-gradient(rgba(160, 160, 160, 0.5), rgba(140, 140, 140, 0.5) 35%, rgba(100, 100, 100, 0.7));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
#container {
  top: 24px;
  left: 24px;
}
.item {
  background-color: #e3e6d9;
  margin: 16px;
  width: 280px;
  height: 280px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 10px #aaa;
}
.news,
.news.activate {
  width: 592px;
  height: 904px;
}
.feedContent {
  z-index: -5;
}
.entry > h2 {
  font-size: 130%;
  font-weight: 600;
  color: #6c7065;
  padding: 16px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #e3e6d9;
}
.entry > .description {
  font-size: 100%;
  font-weight: 300;
  padding: 16px;
  text-align: justify;
}
.entry > .feedImg {
  height: auto;
  min-width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.video,
.video.activate {
  width: 904px;
  height: 592px;
}
.badge,
.badge.activate {
  width: 592px;
  height: 280px;
}
.activate {
  width: 592px;
  height: 592px;
}
.item > h1 {
  position: absolute;
  color: #e3e6d9;
  font-size: 16pt;
  font-weight: 500;
  background-color: #514d3e;
  padding: 6px 12px 6px 12px;
  z-index: 5;
  width: 100%;
}
.local > h1,
.extern > h1,
.news > h1,
.video > h1,
.badge > h1 {
  background-color: #6c7065;
}
.item > .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 1;
}
.item > svg,
.item > img.vimeo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  max-width: 100%;
  max-height: 100%;
}
.item > svg {
  opacity: .8;
}
.item > iframe {
  border: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.item > .details {
  background-color: #6c7065;
  color: #e3e6d9;
  font-size: 12pt;
  font-weight: 300;
  padding: 12px;
  bottom: 0;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  display: none;
  z-index: 10;
  text-align: justify;
}
#bar {
  width: 100%;
  background-color: #6c7065;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 48px;
  padding: 8px;
  -webkit-box-sizing: border-box;
}
.icon {
  position: relative;
  fill: #c4c8c5;
  stroke: none;
  width: 64px;
}
